html,body{
  margin:0;
  background:#000;
  color:#eee;
  font-family: system-ui, -apple-system;
}

.magazine{
  width:100%;
}

.page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

figure{
  margin:0;
  max-width:80vw;
}

img{
  width:100%;
  height:auto;
  display:block;
}

figcaption{
  display:flex;
  justify-content:space-between;
  font-size:12px;
  opacity:.6;
  margin-top:6px;
}
